@model Fitness_Tracker.Models.GuifinalUser;

@{
    ViewData["Title"] = "Home Page";
}
<!--<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Tracker</title>
</head>-->


<body class="bg-light">
    <h1 class="text-center">FatAttack | Calorie Tracker</h1>

    @if(!User.Identity.IsAuthenticated)
    {
        <h1 class="text-center">Please login to check weight progress</h1>
    }
    else if(Model == null)
    {
        <h1 class="text-center">Please enter your information to check your weight progress</h1>
    }
    else
    {
            <div class="d-flex justify-content-around">
                <div>
                    <div class="container mt-5">
                        <!--Misc Info-->
                        <div class="mt-4">
                        <h3>Misc Info</h3>
                            <p>Height: @Model.UserHeight in.</p>
                            <p>Gender: @ViewData["Gender"]</p>
                            <p>Birthday: @ViewData["Birthday"]</p>
                            <p>Age: @Model.UserAge</p>
                            <p>Activity Level: @ViewData["Activity"]</p>
                        </div>

                        <!-- Record Food Eaten -->
                        <div class="mt-4">
                        <h3>Record Food Eaten</h3>
                            <form method="post" asp-action="RecordFood">
                                <div class="form-group">
                                    <label for="foodName">Food Name:</label>
                                    <input type="text" class="form-control w-75" name="foodName" required>
                                </div>

                                <div class="form-group">
                                    <label for="foodCalories">Calories:</label>
                                    <input type="number" class="form-control w-75" name="foodCalories" required>
                                </div>

                                <button type="submit" class="btn btn-primary mt-4">Add Food</button>
                            </form>
                        </div>

                        <!-- Calories Left for the Day -->
                        <div class="mt-4">
                            <h3>Calories Left for the Day</h3>
                            <p>Goal: <span class="font-weight-bold">@Model.UserCaloriesToLoseWeight</span> calories</p>
                            <p>Consumed: <span class="font-weight-bold">@ViewData["CaloriesConsumed"]</span> calories</p>
                            <p>Remaining: <span class="font-weight-bold">@ViewData["CaloriesLeft"]</span> calories</p>
                        </div>

                        <!-- Weight Tracker -->
                        <div class="mt-4">
                            <h3>Weight Tracker</h3>
                            <p>Starting Weight: <span class="font-weight-bold">@Model.UserStartingWeight</span> lbs</p>
                            <p>Current Weight: <span class="font-weight-bold">@Model.UserCurrentWeight</span> lbs</p>
                            <p>Goal Weight: <span class="font-weight-bold">@Model.UserDesiredWeight</span> lbs</p>
                            <form asp-action="Index" method="post">
                                <div class="form-group">
                                    <label for="weightLost">Enter Weight Lost (lbs):</label>
                                    <input asp-for="UserWeightLost" type="number" class="form-control w-75 mt-3" name="weightLost">
                                </div>

                                <button type="submit" class="btn btn-success mt-4">Update Weight</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column justify-context-center">

                    @if (Double.Parse(ViewData["CaloriePercent"].ToString()) >= 90)
                    {
                        <img id="calorieImage" class="w-50 h-50 m-3" src="~/images/Calories/100percent.png" />
                    }
                    else if (Double.Parse(ViewData["CaloriePercent"].ToString()) >= 66)
                    {
                        <img id="calorieImage" class="w-50 h-50 m-3" src="~/images/Calories/80percent.png" />
                    }
                    else if (Double.Parse(ViewData["CaloriePercent"].ToString()) >= 33)
                    {
                        <img id="calorieImage" class="w-50 h-50 m-3" src="~/images/Calories/50percent.png" />
                    }
                    else if (Double.Parse(ViewData["CaloriePercent"].ToString()) > 0)
                    {
                        <img id="calorieImage" class="w-50 h-50 m-3" src="~/images/Calories/10percent.png" />
                    }
                    else if (Double.Parse(ViewData["CaloriePercent"].ToString()) <= 0)
                    {
                        <img id="calorieImage" class="w-50 h-50 m-3" src="~/images/Calories/empty.png" />
                        
                    }
                    else
                    {
                        <h1>Oops! There has been an error</h1>
                    }
                    <h4>You have eaten @ViewData["CaloriesWrittenPercent"]% of your calories for today!</h4>


                    @if (Double.Parse(ViewData["LostPercent"].ToString()) <= 25)
                    {
                        <img id="weightImage" class="w-50 h-50 m-3" src="~/images/Weight/Large.png" />
                    }
                    else if (Double.Parse(ViewData["LostPercent"].ToString()) <= 50)
                    {
                        <img id="weightImage" class="w-50 h-50 m-3" src="~/images/Weight/Medium-Large.png" />
                    }
                    else if (Double.Parse(ViewData["LostPercent"].ToString()) <= 75)
                    {
                        <img id="weightImage" class="w-50 h-50 m-3" src="~/images/Weight/Medium.png" />
                    }
                    else if (Double.Parse(ViewData["LostPercent"].ToString()) < 100)
                    {
                        <img id="weightImage" class="w-50 h-50 m-3" src="~/images/Weight/Small-Medium.png" />
                    }
                    else if(Model.UserCurrentWeight <= Model.UserDesiredWeight)
                    {
                        <img id="weightImage" class="w-50 h-50 m-3" src="~/images/Weight/Small.png" />
                    }
                    else
                    {
                        <h1>Oops! There has been an error</h1>
                    }
                    <h4>You are @ViewData["LostWrittenPercent"]% of the way to your desired weight!</h4>

                
                </div>
            </div>
    
    }
</body>

